<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <title>Zomato</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
    
        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">
    
        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">
    
        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    
        <!-- Libraries Stylesheet -->
        <link href="{% static 'main/lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'main/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'main/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />
    
        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
    
        <!-- Template Stylesheet -->
         

        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/ratting.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css">
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
         
    </head>

<body>
  {% if messages %}              
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <script>swal({
              title: "Error!",
              text: "{{message}}",
              icon: "warning",
              button: "OK",
            });
          </script>
         
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <script>swal({
              title: "Info :)",
              text: "{{message}}",
              icon: "info",
              button: "OK",
            });
          </script>
        {% endif %}              
      {% endfor %} 
     {% endif %}

    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="text-primary m-0"><i class="ti-hand-point-right me-3"></i>Zomato</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0 pe-4">
                        <a href="{% url 'customer_offerzone' %}" class="nav-item nav-link  ">Offer Zone</a>
                        <a href="{% url 'customer_food_menu' %}" class="nav-item nav-link">Food Menu</a>
                        <a href="{% url 'customer_booking' %}" class="nav-item nav-link  active ">My Booking</a>

                        <a href="{% url 'index'%}" class="nav-item nav-link">Log out</a>
                
                         
                        </div>
                    
                    </div>
                
                </div>
            </nav>

            <div class="container-xxl py-5 bg-dark hero-header ">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Feedback</h1>
                    <nav aria-label="breadcrumb">
                        
                    </nav>
                </div>
            </div>
        </div> 
        <form method="post" enctype="multipart/form-data" onsubmit = "return loginvalidation()"  name="myform">
          {% csrf_token %}
        
    <div class = "row">
      <div class = "col-md-3">
        
      </div>
      <div class = "col-md-6">
      <div class = "container-fluid">

    
     
    <div class="table-responsive pt-3">
      <table class="table table-striped table-bordered" >
       
        <tbody>
          
         <tr>
            <td>
          
              1.How Much do You Rate for Taste?
              </td>
              <td>
              <fieldset class="star-rating">
               <div class="star-rating__stars"> 
                  <input class="star-rating__input" type="radio" name="a" value="1" id="a-1" />
                  <label class="star-rating__label" for="a-1" aria-label="One"></label>
                  <input class="star-rating__input" type="radio" name="a" value="2" id="a-2" />
                  <label class="star-rating__label" for="a-2" aria-label="Two"></label>
                  <input class="star-rating__input" type="radio" name="a" value="3" id="a-3" />
                  <label class="star-rating__label" for="a-3" aria-label="Three"></label>
                  <input class="star-rating__input" type="radio" name="a" value="4" id="a-4" />
                  <label class="star-rating__label" for="a-4" aria-label="Four"></label>
                  <input class="star-rating__input" type="radio" name="a" value="5" id="a-5" />
                  <label class="star-rating__label" for="a-5" aria-label="Five"></label>
                  <div class="star-rating__focus"></div>
                </div>
              </fieldset>
            </td>
        
            </td>
            </tr>
            <td>
              2.How Much do You Rate for Price?
              </td>
              <td>
                <fieldset class="star-rating">
                  <div class="star-rating__stars">
                    <input class="star-rating__input" type="radio" name="b" value="1" id="b-1" />
                    <label class="star-rating__label" for="b-1" aria-label="One"></label>
                    <input class="star-rating__input" type="radio" name="b" value="2" id="b-2" />
                    <label class="star-rating__label" for="b-2" aria-label="Two"></label>
                    <input class="star-rating__input" type="radio" name="b" value="3" id="b-3" />
                    <label class="star-rating__label" for="b-3" aria-label="Three"></label>
                    <input class="star-rating__input" type="radio" name="b" value="4" id="b-4" />
                    <label class="star-rating__label" for="b-4" aria-label="Four"></label>
                    <input class="star-rating__input" type="radio" name="b" value="5" id="b-5" />
                    <label class="star-rating__label" for="b-5" aria-label="Five"></label>
                    <div class="star-rating__focus"></div>
                  </div>
                </fieldset>
           </td>
         </tr>
         <tr>
           
           <td>
            3.How Much do You Rate for Service? 
            </td>
            <td> 
            <fieldset class="star-rating">
                  <div class="star-rating__stars">
                    <input class="star-rating__input" type="radio" name="c" value="1" id="c-1" />
                    <label class="star-rating__label" for="c-1" aria-label="One"></label>
                    <input class="star-rating__input" type="radio" name="c" value="2" id="c-2" />
                    <label class="star-rating__label" for="c-2" aria-label="Two"></label>
                    <input class="star-rating__input" type="radio" name="c" value="3" id="c-3" />
                    <label class="star-rating__label" for="c-3" aria-label="Three"></label>
                    <input class="star-rating__input" type="radio" name="c" value="4" id="c-4" />
                    <label class="star-rating__label" for="c-4" aria-label="Four"></label>
                    <input class="star-rating__input" type="radio" name="c" value="5" id="c-5" />
                    <label class="star-rating__label" for="c-5" aria-label="Five"></label>
                    <div class="star-rating__focus"></div>
                  </div>
                </fieldset>
           </td>
            
         </tr>
        
         
        </tbody>
      </table>
      </div>
    </div>
  </div>
  </div>
    <center> 
    <h5 class="review-count">Write your Feedback</h5><br>
    <div class="form-group ">
         <textarea class=""  id="" name="overall" rows="8" style="width: 500px;height: 100px; "></textarea>
      </div>                 
    <div class="text-center m-5">
      <a href = "{% url 'customer_booking' %}"><button type="submit" class="btn btn-primary btn-lg"
        style="padding-left: 2.5rem; padding-right: 2.5rem;">Submit</button></a>
      
    </div>
    </center>
   </div> 
      
    </form>


           
         


        
        
          
        
        


        
         






        
    
            

            
        <!-- Footer Start -->

        <div class="container-fluid bg-dark text-light footer pt-5  wow fadeIn" data-wow-delay="0.1s">
            <div class="container  mt-0">
                <div class="row g-5">
                    <div class="col-lg-4 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Company</h4>
                        <a class="btn btn-link" href="">About Us</a>
                        <a class="btn btn-link" href="">Contact Us</a>
                        <a class="btn btn-link" href="">Reservation</a>
                        <a class="btn btn-link" href="">Privacy Policy</a>
                        <a class="btn btn-link" href="">Terms & Condition</a>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>L B NAGAR - Hyderabad</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>980980944</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Opening</h4>
                        <h5 class="text-light fw-normal">Monday - Saturday</h5>
                        <p>09AM - 09PM</p>
                        <h5 class="text-light fw-normal">Sunday</h5>
                        <p>10AM - 08PM</p>
                    </div>
                   
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row" >
                        <div class = "col-lg-4"></div>
                        
                        <div class="col-md-8 text-md-start mb-3 mb-md-0">
                            &copy; 2022 All Right Reserved.Designed and Developed by<a class="border-bottom" href="http://www.codebook.in"> CodeBook 
							
 						</a>
                         </div>
                         
                    </div>
                </div>
            </div>
        </div>


        
       
        <!-- Footer End -->


        <!-- Back to Top -->
       
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'main/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'main/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'main/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'main/lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'main/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'main/lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'main/lib/tempusdominus/js/moment-timezone.min.js'%}"></script>
    <script src="{% static 'main/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js'%}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'main/js/main.js'%}"></script>
</body>

</html>            